<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Your Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Purchase Prediction App!</h1>
        <form method="POST" action="/predict">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required><br><br>
            
            <label for="salary">Estimated Salary:</label>
            <input type="number" id="salary" name="salary" required><br><br>
            
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select><br><br>
            
            <input type="submit" value="Predict">
        </form>
    </div>
</body>
</html>

